* {
    --background-color: #000000;
    --background-color-secondary: #313131;
    --background-color-tertiary: #747474;
    --color: #FFFFFF;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

button, input {
    background-color: var(--background-color-secondary);
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
}
button:hover {
    background-color: var(--background-color-tertiary)
}

.input-combo {
    display: inline;
}
.input-combo * {
    height: 2em;
}

.message {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.message-sender {
    text-wrap: nowrap;
    font-weight: bold;
    text-decoration: underline;
}
.message-content {
    flex-grow: 1;
    text-wrap: wrap;
    overflow-wrap: break-word;
    display: inline-block;
    word-break: break-word;
    margin-left: 10px;
    margin-right: 10px;
}

#message-display {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 2em;
    text-align: center;
    transition: 0.2s;
    background-color: var(--background-color-secondary);

    opacity: 0;
    pointer-events: none;
}
#message-display.visible {
    opacity: 1;
}

#name-popup {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    background-color: var(--background-color);
}
#name-popup.visible {
    pointer-events: all;
    opacity: 1;
}

#messages-window, #user-list-container {
    height: 100vh;
}
#messages-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    
}
#message-list {
    flex-grow: 1;
    overflow-y: scroll;
}
#message-list-top {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#message-prompt {
    display: flex;
    flex-direction: row;
}
#message-input {
    flex-grow: 1;
}

#user-list {
    flex-grow: 1;
}